Cartopy==0.23.0
cartopy==0.25.0
cinrad==1.9.3
Django==4.2.7
Django==5.1.4
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
matplotlib==3.8.4
protobuf==3.20.3
psycopg2_binary==2.9.12
pycurl==7.45.2
PyMySQL==1.1.0
