[Pb]
#(1)//服务地址，必选（须与「接口调用测试」浏览器里能打开 music-ws 的 IP 一致，否则会收到 HTML 错误页）
music_server=10.226.90.120
#(2)//端口号
music_port=80
#(3)//连接超时，秒，可选
music_connTimeout=3
#(4)//数据读取超时，毫秒，可选
music_readTimeout=30000
#(5)//默认的服务节点ID
music_ServiceId=NMIC_MUSIC_CMADAAS
#(6)是否为存储挂载方式，0文件将上传到服务端，1文件通过本地挂载盘写到服务端
music_store_backstage=0
#(7)如果为true，必须填写挂载目录对应位置
music_local_mount=C://Local
#(8)如果为true，服务端挂载目录位置
music_server_mount=/home/api/api/mount